<div class="container-fluid my-3">
    <div id="smartwizard" class="bg-light rounded">
        <ul class="nav">
            <li id="li-1">
                <a class="nav-link" href="#step-1">
                    <strong>Paso 1</strong>
                    <br>
                    Verificacion de pasajes
                </a>
            </li>
            <li id="li-2">
                <a class="nav-link" href="#step-2">
                    <strong>Paso 2</strong>
                    <br>
                    Carga de email
                </a>
            </li>
            <li id="li-3">
                <a class="nav-link" href="#step-3">
                    <strong>Paso 3</strong>
                    <br>
                    Datos personales
                </a>
            </li>
            <li id="li-4">
                <a class="nav-link" href="#step-4">
                    <strong>Paso 4</strong>
                    <br>
                    Formulario COVID-19
                </a>
            </li>
            <li id="li-5">
                <a class="nav-link" href="#step-5">
                    <strong>Paso 5</strong>
                    <br>
                    Insumos
                </a>
            </li>
            <li id="li-6">
                <a class="nav-link" href="#step-6">
                    <strong>Paso 6</strong>
                    <br>
                    Resumen
                </a>
            </li>
        </ul>

        <div class="tab-content">
            <div id="step-1" class="tab-pane text-center" role="tabpanel">
                <div class="row justify-content-center">
                    <div class="col-sm-5">
                        <div id="info-group" class="p-2">
                            <div class="input-group">
                                <label for="quantity" class="input-group-text" id="basic-addon1"><i class="fas fa-ticket-alt"></i></label>
                                <input type="number" class="form-control" placeholder="Cantidad de pasajes *" name="quantity" id="quantity">
                                <div class="invalid-feedback">
                                    <h6 id="invalid-quantity"></h6>
                                </div>
                            </div>
                        </div>
                        <button id="button-quantity" type="button" class="btn btn-primary mt-3">Continuar</button>
                    </div>
                </div>
            </div>

            <div id="step-2" class="tab-pane text-center" role="tabpanel">
                <div class="row justify-content-center">
                    <div class="col-sm-5">
                        <div id="info-group" class="p-2">
                            <div class="input-group">
                                <label for="email" class="input-group-text" id="basic-addon1"><i class="fas fa-at"></i></label for="email">
                                <input type="text" class="form-control" placeholder="Email *" name="email" id="email">
                                <div class="invalid-feedback">
                                    <h6 id="invalid-email"></h6>
                                </div>
                            </div>
                        </div>
                        <button id="button-email" type="button" class="btn btn-primary mt-3">Continuar</button>
                    </div>
                </div>
            </div>
            <div id="step-3" class="tab-pane text-center" role="tabpanel">
                <div class="row justify-content-center">
                    <div class="col-sm-5">
                        <div id="info-group" class="p-2">
                            <h4 id="info-title" class="text-primary"></h4>
                            <form id="form-passenger" action="/chofer/venta/passenger" method="POST">
                            </form>
                        </div>
                        {{!-- <button id="" type="button" class="btn btn-danger mt-3 button-prev">Volver</button> --}}
                        <button id="button-passenger" type="button" class="btn btn-primary mt-3">Continuar</button>
                    </div>
                </div>
            </div>
            <div id="step-4" class="tab-pane" role="tabpanel">
                <div class="row justify-content-center">
                    <div class="col-sm-5">
                        <form id="form-formulario" action="/chofer/venta/formulario" method="POST">
                            <input type="text" value="" name="email" id="emailFormulario" hidden>
                            <div id="info-group" class="p-2">
                                <h4 class="text-primary text-center">Formulario</h4>
                                <div class="container-fluid mt-4">
                                    <div class="mb-3 text-start">
                                        <label for="temperatura" class="form-label fs-6 text-center w-100 mb-0">
                                            <h5 class="text-secondary">Temperatura</h5>
                                        </label>
                                        <input type="number" step="any" class="form-control m-auto" id="temperatura" name="temperatura" style="width: 5rem;"/>
                                        <div class="invalid-feedback text-center">
                                            <h6 id="invalid-temperatura"></h6>
                                        </div>
                                    </div>
                                    <div>
                                        <h5 class="text-secondary text-center">¿Fiebre ultima semana?</h5>
                                        <div class="d-flex justify-content-evenly">
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="fiebre" id="fiebre1" value="Si">
                                                <label class="form-check-label" for="fiebre1">
                                                    Si
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="fiebre" id="fiebre2" value="No">
                                                <label class="form-check-label" for="fiebre2">
                                                    No
                                                </label>
                                            </div>
                                        </div>
                                        <input class="form-control" id="fiebreAux" name="fiebreAux" hidden/>
                                        <div class="invalid-feedback text-center">
                                            <h6 id="invalid-fiebreAux"></h6>
                                        </div>
                                    </div>
                                    <div class="mt-3">
                                        <h5 class="text-secondary text-center">¿Perdida de gusto u olfato?</h5>
                                        <div class="d-flex justify-content-evenly">
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="gusto" id="gusto1" value="Si">
                                                <label class="form-check-label" for="gusto1">
                                                    Si
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="gusto" id="gusto2" value="No">
                                                <label class="form-check-label" for="gusto2">
                                                    No
                                                </label>
                                            </div>
                                        </div>
                                        <input class="form-control" id="gustoAux" name="gustoAux" hidden/>
                                        <div class="invalid-feedback text-center">
                                            <h6 id="invalid-gustoAux"></h6>
                                        </div>
                                    </div>
                                    <div class="mt-3">
                                        <h5 class="text-secondary text-center">¿Dolor de garganta?</h5>
                                        <div class="d-flex justify-content-evenly">
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="garganta" id="garganta1" value="Si">
                                                <label class="form-check-label" for="garganta1">
                                                    Si
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="garganta" id="garganta2" value="No">
                                                <label class="form-check-label" for="garganta2">
                                                    No
                                                </label>
                                            </div>
                                        </div>
                                        <input class="form-control" id="gargantaAux" name="gargantaAux" hidden/>
                                        <div class="invalid-feedback text-center">
                                            <h6 id="invalid-gargantaAux"></h6>
                                        </div>
                                    </div>
                                    <div class="mt-3">
                                        <h5 class="text-secondary text-center">¿Dificultad respiratoria?</h5>
                                        <div class="d-flex justify-content-evenly">
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="respiracion" id="respiracion1" value="Si">
                                                <label class="form-check-label" for="respiracion1">
                                                    Si
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="respiracion" id="respiracion2" value="No">
                                                <label class="form-check-label" for="respiracion2">
                                                    No
                                                </label>
                                            </div>
                                        </div>
                                        <input class="form-control" id="respiracionAux" name="respiracionAux" hidden/>
                                        <div class="invalid-feedback text-center">
                                            <h6 id="invalid-respiracionAux"></h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center">
                                {{!-- <button type="button" class="btn btn-danger mt-3 button-prev">Volver</button> --}}
                                <button type="submit" class="btn btn-primary mt-3">Continuar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div id="step-5" class="tab-pane text-center" role="tabpanel">
                

                <div class="m-3 container_tablas">
                    <strong>
                        <table id="table_trips" data-toggle="table" data-show-button-text="true" data-locale="es-AR">
                            <thead class="table-dark">
                                <tr>
                                    <th colspan="3" class="th_viajeInsumos1"><span>Compre sus insumos para el viaje</span></th>
                                </tr>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Precio</th>
                                    <th><i class="fas fa-cart-plus"></i></th>
                                </tr>
                            </thead>
                            <tbody style="color: #232020;">
                                {{#each insumos}}
                                <tr class="tr-venta">
                                    <td>{{nombre}}</td>
                                    <td>$ {{precio}}</td>
                                    <td><a onclick='agregarInsumo({{id_insumo}})' id="link_viajeInsumos"><i class="fas fa-plus-circle"></i></a></td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </strong>

                    <strong>
                        <table class="table my-4" id="table_trips">
                            <thead class="table-dark">
                                <tr>
                                    <th colspan="4" class="th_viajeInsumos2"><span>Insumos agregados</span></th>
                                </tr>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Cantidad</th>
                                    <th>Total</th>
                                    <th><i class="fas fa-trash-alt"></i></th>
                                </tr>
                            </thead>
                            <tbody id="tbodyId" style="color: #232020;">
                            </tbody>
                        </table>
                    </strong>

                    <div class="my-2 py-2 px-4 rounded-1 text-end" id="div_subtotal">
                        <p><u>Subtotal</u>: $<strong id="testStrong"></strong></p>
                    </div>
                    <div class="modal-footer"></div>
                        {{!-- <button onclick="confirmAndResume({{id_viaje}}, {{quantity}})" type="button" class="btn btn-primary rounded-pill fs-5"> --}}
                        <button id="button-insumos" type="button" class="btn btn-primary mt-3">Continuar</button>
                </div>
            </div>
            <div id="step-6" class="tab-pane text-center" role="tabpanel">
                <div class="m-3 container_tablas" id="containerResumen">
                    <div class="row">
                        <div class="col-md-6 order-md-2 mb-4 py-2">
                            <h4 class="mb-3 text-light" style="color: #1d1b1b !important;">Insumos agregados</h4>
                            <ul class="list-group mb-3" id="ul-insumos">
                            </ul>
                        </div>
                        <div class="col-md-6 order-md-1 mb-4 py-2">
                            <h4 class="mb-3 text-light" style="color: #1d1b1b !important;">Datos de la venta</h4>
                            <ul class="list-group mb-3" id="ul-viaje">
                                {{#with viaje}}
                                <li class="list-group-item d-flex justify-content-between lh-condensed">
                                    <h6 class="my-0">Origen</h6>
                                    <small>{{origen}}</small>
                                </li>
                                <li class="list-group-item d-flex justify-content-between lh-condensed">
                                    <h6 class="my-0">Destino</h6>
                                    <small>{{destino}}</small>
                                </li>
                                <li class="list-group-item d-flex justify-content-between lh-condensed align-items-center">
                                    <h6 class="my-0">Salida</h6>
                                    <div style="text-align: right;">
                                        <div class="hora">{{hora_salida}}</div>
                                        <span class="info_fecha">{{diaSalida}}</span>
                                        <span class="info_fecha">{{mesSalida}}</span>
                                    </div>
                                </li>
                                <li class="list-group-item d-flex justify-content-between lh-condensed align-items-center">
                                    <h6 class="my-0">Llegada</h6>
                                    <div style="text-align: right;">
                                        <div class="hora">{{hora_llegada}}</div>
                                        <span class="info_fecha">{{diaLlegada}}</span>
                                        <span class="info_fecha">{{mesLlegada}}</span>
                                    </div>
                                </li>
                                <li class="list-group-item d-flex justify-content-between lh-condensed">
                                    <h6 class="my-0">Comodidad</h6>
                                    <small>{{tipo_asiento}}</small>
                                </li>
                                {{/with}}
                            </ul>
                        </div>
                    </div>

                    <div class="my-2 py-2 px-4 rounded-1 text-end" id="div_subtotal">
                        <p><u>Subtotal</u>: $<strong id="finalSubtotal"></strong></p>
                    </div>
                    <div class="modal-footer"></div>
                    <div class="d-flex justify-content-end flex-wrap">
                        <button onclick="confirmAndPay()" type="button"
                            class="btn btn-primary rounded-pill fs-5">
                            CONFIRMAR Y PAGAR <i class="fas fa-chevron-right"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalPayment" tabindex="-1" aria-labelledby="modalPaymentLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">PAGO</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cancelar"></button>
            </div>
            <div class="modal-body">
                <form id="modalFormPayment" action="/profile/editarPlan" method="POST">
                    <div class="mb-3">
                        <div class="container mb-3">
                            <div class="card" id="card-inputs">
                                <h5 class="card-header bg-dark">Datos de la tarjeta</h5>
                                <div class="card-body" style="background-color: #3f4447!important;">

                                    <div class="mb-3">
                                        <label for="owner" class="form-label">Nombre y apellido del titular</label>
                                        <input type="text" class="form-control mb-3" id="owner" name="owner"
                                            autocomplete='off'>
                                        <div class="invalid-feedback">
                                            <p id="invalid-owner"></p>
                                        </div>
                                    </div>

                                    <div class="mb-3">
                                        <label for="cardnumber" class="form-label">Numero de tarjeta</label>
                                    <input type="text" placeholder="xxxx xxxx xxxx xxxx" class="form-control mb-3"
                                        id="cardnumber" name="cardnumber" autocomplete='off'>
                                        <div class="invalid-feedback">
                                            <p id="invalid-cardnumber"></p>
                                        </div>
                                    </div>

                                    <div class="mb-3">
                                        <label for="cvv" class="form-label">Codigo de seguridad</label>
                                        <input type="text" placeholder="xxx" class="form-control mb-3" id="cvv" name="cvv"
                                        autocomplete='off'>
                                        <div class="invalid-feedback">
                                            <p id="invalid-cvv"></p>
                                        </div>
                                    </div>

                                    <div class="mb-3">
                                        <label for="expireddate" class="form-label">Fecha de vencimiento</label>
                                        <input type="text" placeholder="--/--" class="form-control mb-3" id="expireddate"
                                            name="expireddate" autocomplete='off'>
                                        <div class="invalid-feedback">
                                            <p id="invalid-expireddate"></p>
                                        </div>
                                    </div>
                                    

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary"
                                            data-bs-dismiss="modal">Cancelar</button>
                                        <button type="submit" class="btn btn-success"
                                            id="guardarButton">Guardar</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="loader" class="lds-dual-ring hidden overlay">
    <p style="color: white; font-weight: 600; font-size: 1.4rem; text-align: center; position: relative; top: 23.5rem">Espere un momento...</p>
</div>

<script>
    const emailElement = $('#email');
    var finalEmail;
    var isRegistered;
    var finalName;
    var finalLastname;
    var finalUsername;
    var finalBirthdate;
    /*var finalTemperatura;
    var finalFiebre;
    var finalGusto;
    var finalGarganta;
    var finalRespiracion;*/
    var cantidadesDisponiles;
    var insumosComprados = [];
    var subtotal = 0;
    var asientosDisponibles;
    var asientosAComprar;
    var id_viaje;
    var id_usuario;

    //<------------------------------------ METHODS ------------------------------------>
    function showInfo() {
        $('#form-passenger').html(`
        <div>
            <u><h5 class="mb-0">Nombre</h5></u>
            <p id="nameText">${finalName}</p>
        </div>
        <div class="mt-3">
            <u><h5 class="mb-0">Apellido</h5></u>
            <p id="lastnameText">${finalLastname}</p>
        </div>
        <div class="mt-3">
            <u><h5 class="mb-0">Fecha de nacimiento</h5></u>
            <p id="birthdateText">${moment(finalBirthdate).format('DD-MM-YYYY')}</p>
        </div>
        `)
    }

    function showInputs() {
        $('#form-passenger').html(`
        <input type="text" value="${finalEmail}" name="email" hidden/>
        <div class="mb-3 text-start">
            <label for="name" class="form-label fs-6">Nombre</label>
            <input type="text" class="form-control" id="name" name="name">
            <div class="invalid-feedback">
                <h6 id="invalid-name"></h6>
            </div>
        </div>
        <div class="mb-3 text-start">
            <label for="lastname" class="form-label fs-6">Apellido</label>
            <input type="text" class="form-control" id="lastname" name="lastname">
            <div class="invalid-feedback">
                <h6 id="invalid-lastname"></h6>
            </div>
        </div>
        <div class="mb-3 text-start">
            <label for="username" class="form-label fs-6">Nombre de usuario</label>
            <input type="text" class="form-control" id="username" name="username">
            <div class="invalid-feedback">
                <h6 id="invalid-username"></h6>
            </div>
        </div>
        <div class="mb-3 text-start">
            <label for="birthdate" class="form-label fs-6">Fecha de nacimiento</label>
            <input type="date" class="form-control" id="birthdate" name="birthdate">
            <div class="invalid-feedback">
                <h6 id="invalid-birthdate"></h6>
            </div>
        </div>
        `);

        $('#name').focusout(function () {
            const nameElement = $('#name');
            if (nameElement.val() == null || nameElement.val() == "") {
                $('#invalid-name').text('Este campo no puede estar vacio!');
                nameElement.addClass('is-invalid');
            } else {
                nameElement.removeClass('is-invalid');
                nameElement.addClass('is-valid');
            };
        });

        $('#lastname').focusout(function () {
            const lastnameElement = $('#lastname');
            if (lastnameElement.val() == null || lastnameElement.val() == "") {
                $('#invalid-lastname').text('Este campo no puede estar vacio!');
                lastnameElement.addClass('is-invalid');
            } else {
                lastnameElement.removeClass('is-invalid');
                lastnameElement.addClass('is-valid');
            };
        });

        $('#username').focusout(function () {
            const usernameElement = $('#username');
            if (usernameElement.val() == null || usernameElement.val() == "") {
                $('#invalid-username').text('Este campo no puede estar vacio!');
                usernameElement.addClass('is-invalid');
            } else {
                usernameElement.removeClass('is-invalid');
                usernameElement.addClass('is-valid');
                const usernameValue = usernameElement.val();
                $.ajax('/chofer/venta/username', {
                    type: 'POST',
                    data: { usernameValue },
                    success: function (res) {
                        if (res) {
                            usernameElement.removeClass('is-invalid');
                            usernameElement.addClass('is-valid');
                        } else {
                            $('#invalid-username').text('El nombre de usuario ya se encuentra en uso!');
                            usernameElement.addClass('is-invalid');
                        }
                    }
                });
            };
        });

        $('#birthdate').focusout(function () {
            const birthdateElement = $('#birthdate');
            if (birthdateElement.val() == null || birthdateElement.val() == "") {
                $('#invalid-birthdate').text('Este campo no puede estar vacio!');
                birthdateElement.addClass('is-invalid');
            } else {
                birthdateElement.removeClass('is-invalid');
                birthdateElement.addClass('is-valid');
                const birthdateValue = birthdateElement.val();
                $.ajax('/chofer/venta/birthdate', {
                    type: 'POST',
                    data: { birthdateValue },
                    success: function (res) {
                        if (res) {
                            birthdateElement.removeClass('is-invalid');
                            birthdateElement.addClass('is-valid');
                        } else {
                            $('#invalid-birthdate').text('Debe ser mayor de 18 años!');
                            birthdateElement.addClass('is-invalid');
                        }
                    }
                });
            };
        });
    }

    function agregarInsumo(id_insumo) {
        let pos = cantidadesDisponiles.findIndex(x => x.id_insumo === id_insumo);
        const insumo = cantidadesDisponiles[pos];
        Swal.fire({
            title: insumo.nombre,
            input: 'number',
            inputPlaceholder: 'Ingrese la cantidad',
            showCancelButton: true,
            confirmButtonText: 'Agregar',
            cancelButtonText: 'Cancelar',
            showLoaderOnConfirm: true,
            preConfirm: (value) => {
                return new Promise( (resolve) => {
                    var result = { ok: true, msg: '' };
                    if (value != '') {
                        if (value > insumo.cantidad) {
                            result.ok = false;
                            result.msg = 'Cantidad no disponible!'
                        } else if (value <= 0) {
                            result.ok = false;
                            result.msg = 'Ingrese una cantidad mayor a 0!'
                        } else {
                            result.cantidad = value;
                        }
                    } else {
                        result.ok = false;
                        result.msg = 'Ingresa una cantidad!'
                    }
                    
                    resolve(result);
                })
                .then(response => {
                    if (!response.ok) {
                        throw new Error(response.msg)
                    }
                    insumo.cantidad = +insumo.cantidad - +response.cantidad;
                    const insumoAgregado = { 
                        id_insumo: insumo.id_insumo,
                        nombre: insumo.nombre,
                        precio: insumo.precio,
                        cantidad: +response.cantidad,
                        total: +insumo.precio * +response.cantidad
                    }
                    pos = insumosComprados.findIndex(x => x.nombre === insumo.nombre)
                    if (pos == -1) {
                        const tbody = document.getElementById('tbodyId');
                        tbody.innerHTML = tbody.innerHTML + `
                        <tr>
                            <td>${insumoAgregado.nombre}</td>
                            <td id="cantidadId${insumosComprados.length}">${insumoAgregado.cantidad}</td>
                            <td id="totalId${insumosComprados.length}">$ ${insumoAgregado.total}</td>
                            <td><a onclick="eliminarInsumo(${id_insumo}, ${insumosComprados.length})" class="link-danger linkEliminar"><i class="fas fa-minus-circle"></i></a></td>
                        </tr>
                        `  
                        insumosComprados.push(insumoAgregado);
                    } else {
                        insumosComprados[pos].cantidad += +response.cantidad;
                        insumosComprados[pos].total += +insumoAgregado.total

                        $(`#cantidadId${pos}`).text(insumosComprados[pos].cantidad);
                        $(`#totalId${pos}`).text('$ '+insumosComprados[pos].total);
                    }
                    subtotal = subtotal + insumoAgregado.total;
                    $('#testStrong').text(subtotal)
                    return true
                })
                .catch(error => {
                    Swal.showValidationMessage(error.message)
                })
            },
            allowOutsideClick: () => !Swal.isLoading()
        }).then((result) => {
            if (result.isConfirmed) {
                Swal.fire({
                    icon: 'success',
                    title: 'Insumo/s agregado/s exitosamente!'
                })
            }
        })
    }   

    function eliminarInsumo(id_insumo, posInsumoComprado) {
        let pos = cantidadesDisponiles.findIndex(x => x.id_insumo === id_insumo);
        const insumo = cantidadesDisponiles[pos];
        let posComprado = insumosComprados.findIndex(x => x.id_insumo === id_insumo);
        const insumoAgregado = insumosComprados[posComprado];
        Swal.fire({
            title: insumo.nombre,
            input: 'number',
            inputPlaceholder: 'Ingrese la cantidad',
            showCancelButton: true,
            confirmButtonText: 'Quitar',
            cancelButtonText: 'Cancelar',
            showLoaderOnConfirm: true,
            preConfirm: (value) => {
                return new Promise( (resolve) => {
                    var result = { ok: true, msg: '' };
                    if (value != '') {
                        if (value > insumoAgregado.cantidad) {
                            result.ok = false;
                            result.msg = 'La cantidad debe ser menor o igual a la agregada!'
                        } else if (value <= 0) {
                            result.ok = false;
                            result.msg = 'Ingrese una cantidad mayor a 0!'
                        } else {
                            result.cantidad = value;
                        }
                    } else {
                        result.ok = false;
                        result.msg = 'Ingresa una cantidad!'
                    }
                    
                    resolve(result);
                })
                .then(response => {
                    if (!response.ok) {
                        throw new Error(response.msg)
                    }
                    let montoQuitado = (+insumoAgregado.precio * +response.cantidad);
                    insumo.cantidad = +insumo.cantidad + +response.cantidad;
                    insumoAgregado.cantidad -= +response.cantidad;
                    insumoAgregado.total -= montoQuitado

                    $(`#cantidadId${posInsumoComprado}`).text(insumoAgregado.cantidad);
                    $(`#totalId${posInsumoComprado}`).text('$ '+insumoAgregado.total);
                    subtotal = subtotal - montoQuitado;
                    $('#testStrong').text(subtotal)
                    if (insumoAgregado.cantidad == 0) {
                        document.getElementById(`cantidadId${posInsumoComprado}`).parentElement.remove();
                        insumosComprados.splice(posComprado, 1);
                    }
                    console.log('COMPRADOS: ', insumosComprados);
                    return true
                })
                .catch(error => {
                    Swal.showValidationMessage(error.message)
                })
            },
            allowOutsideClick: () => !Swal.isLoading()
        }).then((result) => {
            if (result.isConfirmed) {
                Swal.fire({
                    icon: 'success',
                    title: 'Insumo/s agregado/s exitosamente!'
                })
            }
        })
    }
    //<---------------------------------- END METHODS ---------------------------------->
    //<--------------------------------------------------------------------------------->


    //<------------------------------------ FOCUS OUT ------------------------------------>

    $('#temperatura').focusout(function () {
        const temperaturaElement = $('#temperatura');
        if (temperaturaElement.val() == null || temperaturaElement.val() == "") {
            $('#invalid-temperatura').text('Este campo no puede estar vacio!');
            temperaturaElement.addClass('is-invalid');
        } else {
            temperaturaElement.removeClass('is-invalid');
            temperaturaElement.addClass('is-valid');
        }
    })
    //<---------------------------------- END FOCUS OUT ---------------------------------->
    //<----------------------------------------------------------------------------------->

    function tryParseJSON (jsonString){
        try {
            var o = JSON.parse(jsonString);

            if (o && typeof o === "object") {
                return o;
            }
        }
        catch (e) { }
        return null;
    }

    function decodeJSON(obj) {
        obj = decodeURI(obj);
        return tryParseJSON(obj);
    };

    $(document).ready(function(){

        cantidadesDisponiles = decodeJSON("{{insumosTest}}");
        subtotal = {{subtotal}};
        asientosDisponibles = {{quantity}};
        id_viaje = {{id_viaje}};

        $('.button-prev').on('click', () => {
            $('#li-2 a:first-of-type').removeClass('danger');
            $('#li-3 a:first-of-type').removeClass('danger');
            $('#li-4 a:first-of-type').removeClass('danger');
            $('#smartwizard').smartWizard("prev");
        });


        $("#button-quantity").on('click', () => {
            const quantityElement = $('#quantity');

            if (quantityElement.val() == null || quantityElement.val() == "") {
                $('#invalid-quantity').text('Este campo no puede estar vacio!');
                quantityElement.addClass('is-invalid');
                $('#li-1 a:first-of-type').addClass('danger');
            } else {
                const quantityValue = quantityElement.val();
                if (quantityValue > asientosDisponibles) {
                    $('#invalid-quantity').text('Cantidad no disponible!');
                    quantityElement.addClass('is-invalid');
                    $('#li-1 a:first-of-type').addClass('danger');
                } else if(quantityValue <= 0) {
                    $('#invalid-quantity').text('La cantidad debe ser mayor a 0!');
                    quantityElement.addClass('is-invalid');
                    $('#li-1 a:first-of-type').addClass('danger');
                } else {
                    asientosAComprar = quantityValue;
                    subtotal *= asientosAComprar;
                    $('#testStrong').text(subtotal);
                    quantityElement.removeClass('is-invalid');
                    quantityElement.addClass('is-valid');
                    $('#li-1 a:first-of-type').removeClass('danger');
                    $('#smartwizard').smartWizard("next");
                }
            };
        });

        $("#button-email").on('click', () => {
            if (emailElement.val() == null || emailElement.val() == "") {
                $('#invalid-email').text('Este campo no puede estar vacio!');
                emailElement.addClass('is-invalid');
                $('#li-2 a:first-of-type').addClass('danger');
            } else {
                const emailValue = emailElement.val();
                $.ajax('/chofer/venta/email', {
                    type: 'POST',
                    data: { emailValue },
                    success: function (res) {
                        if (res.errors.length == 0) {
                            if (res.isPositive) {
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Testeo positivo detectado dentro de los 15 dias.',
                                    text: 'Se redirigira automaticamente a la pagina principal!',
                                    willClose: () => {
                                        window.location.replace('/home');
                                    }
                                })
                            } else {
                                finalEmail = emailValue;
                                isRegistered = res.isRegistered;
                                if (isRegistered) {
                                    id_usuario = res.id_usuario;
                                    finalName = res.resultAccount[0].name;
                                    finalLastname = res.resultAccount[0].lastname;
                                    finalBirthdate = res.resultAccount[0].birthdate;
                                    $('#info-title').text('Datos de la cuenta');
                                    showInfo();
                                } else {
                                    $('#info-title').text('Datos del pasajero');
                                    showInputs();
                                }
                                emailElement.removeClass('is-invalid');
                                emailElement.addClass('is-valid');
                                $('#li-2 a:first-of-type').removeClass('danger');
                                $('#smartwizard').smartWizard("next");
                            }
                        } else {
                            $('#invalid-email').text(res.errors[0].msg);
                            emailElement.addClass('is-invalid');
                            $('#li-2 a:first-of-type').addClass('danger');
                        }

                        $('#smartwizard').smartWizard("loader", "hide");
                    }
                });
            };
        });

        $('#button-passenger').on('click', () => {
            if (isRegistered) {
                $('#smartwizard').smartWizard("next");
            } else {
                $('#form-passenger').submit();
            }
        })

        $('#button-insumos').on('click', () => {
            const ul = document.getElementById('ul-insumos')
            if (insumosComprados.length > 0) {
                for (let i = 0; i < insumosComprados.length; i++) {
                    ul.innerHTML = ul.innerHTML + `
                    <li class="list-group-item d-flex justify-content-between lh-condensed">
                        <div>
                            <h6 class="my-0">Producto ${i + 1}</h6>
                            <small class="text-muted">${insumosComprados[i].nombre}</small>
                        </div>
                        <span class="text-muted">$${insumosComprados[i].total}</span>
                    </li>                                                         
                    `
                }
            } else {
                ul.innerHTML = `
                <li class="list-group-item d-flex justify-content-center lh-condensed">
                    <small class="text-muted">No hay insumos agregados</small>
                </li>                                                          
                `
            }

            $('#finalSubtotal').text(subtotal);
            $('#smartwizard').smartWizard("next");
        })
 
        // SmartWizard initialize
        $('#smartwizard').smartWizard({
            selected: 0,
            theme: 'progress', //"default" BY DEFAULT
            justified: true, //"true" BY DEFAULT
            darkMode: false, //"false" BY DEFAULT
            enableURLhash: false,
            transition: {
                animation: 'slide-swing', // Effect on navigation, none/fade/slide-horizontal/slide-vertical/slide-swing
                speed: '100', // Transion animation speed
                easing:'' // Transition animation easing. Not supported without a jQuery easing plugin
            },
            anchorSettings: {
                anchorClickable: false, // Enable/Disable anchor navigation
                markAllPreviousStepsAsDone: true, // When a step selected by url hash, all previous steps are marked done
                removeDoneStepOnNavigateBack: true, // While navigate back done step after active step will be cleared
            },
            toolbarSettings: {
                showNextButton: false, // show/hide a Next button
                showPreviousButton: false, // show/hide a Previous button
            },
            keyboardSettings: {
                keyNavigation: false
            }
        });
    
    });

    $('#form-passenger').submit(function (e) {
        e.preventDefault();

        var form = $(this);
        var url = form.attr('action');
        var array = form.serializeArray();

        $.ajax({
            type: "POST",
            url: url,
            data: form.serialize(), // serializes the form's elements. 
            success: function (result) {
                if (result.errors.length > 0) {
                    $('#name').removeClass('is-invalid');
                    $('#name').addClass('is-valid');
                    $('#lastname').removeClass('is-invalid');
                    $('#lastname').addClass('is-valid');
                    $('#username').removeClass('is-invalid');
                    $('#username').addClass('is-valid');
                    $('#birthdate').removeClass('is-invalid');
                    $('#birthdate').addClass('is-valid');
                    $.each(result.errors, function (index, value) {
                        if (value.param == 'name') {
                            $('#name').addClass('is-invalid');
                            $('#invalid-name').text(value.msg);
                        }
                        if (value.param == 'lastname') {
                            $('#lastname').addClass('is-invalid');
                            $('#invalid-lastname').text(value.msg);
                        }
                        if (value.param == 'username') {
                            $('#username').addClass('is-invalid');
                            $('#invalid-username').text(value.msg);
                        }
                        if (value.param == 'birthdate') {
                            $('#birthdate').addClass('is-invalid');
                            $('#invalid-birthdate').text(value.msg);
                        }
                    })
                } else {
                    id_usuario = result.id_usuario;
                    finalName = array[0];
                    finalLastname = array[1];
                    finalUsername = array[2];
                    finalBirthdate = array[3];
                    $('#smartwizard').smartWizard("next");
                }
            }
        });
    });

    $('#form-formulario').submit(function (e) {
        e.preventDefault();
        $('#emailFormulario').val(finalEmail);

        var form = $(this);
        var url = form.attr('action');
        var array = form.serializeArray();

        $.ajax({
            type: "POST",
            url: url,
            data: form.serialize(), // serializes the form's elements. 
            success: function (result) {
                if (result.errors.length > 0) {   
                    $('#temperatura').removeClass('is-invalid');
                    $('#temperatura').addClass('is-valid');
                    $('#fiebreAux').removeClass('is-invalid');
                    $('#fiebreAux').addClass('is-valid');
                    $('#gustoAux').removeClass('is-invalid');
                    $('#gustoAux').addClass('is-valid');
                    $('#gargantaAux').removeClass('is-invalid');
                    $('#gargantaAux').addClass('is-valid');
                    $('#respiracionAux').removeClass('is-invalid');
                    $('#respiracionAux').addClass('is-valid');
                    $.each(result.errors, function (index, value) {
                        if (value.param == 'temperatura') {
                            $('#temperatura').addClass('is-invalid');
                            $('#invalid-temperatura').text(value.msg);
                        }
                        if (value.param == 'fiebre') {
                            $('#fiebreAux').addClass('is-invalid');
                            $('#invalid-fiebreAux').text(value.msg);
                        }
                        if (value.param == 'gusto') {
                            $('#gustoAux').addClass('is-invalid');
                            $('#invalid-gustoAux').text(value.msg);
                        }
                        if (value.param == 'garganta') {
                            $('#gargantaAux').addClass('is-invalid');
                            $('#invalid-gargantaAux').text(value.msg);
                        }
                        if (value.param == 'respiracion') {
                            $('#respiracionAux').addClass('is-invalid');
                            $('#invalid-respiracionAux').text(value.msg);
                        }
                    })
                } else {
                    /*finalTemperatura = array[0];
                    finalFiebre = array[1];
                    finalGusto = array[2];
                    finalGarganta = array[3];
                    finalRespiracion = array[4];*/
                    if (result.esPositivo) {
                        console.log('ES POSITIVO!');
                        Swal.fire({
                            icon: 'error',
                            title: 'No se puede continuar (Posible COVID)',
                            text: 'Se redirigira automaticamente a la pagina principal!',
                            willClose: () => {
                                window.location.replace('/home');
                            }
                        })
                    } else {
                        $('#smartwizard').smartWizard("next");
                    }
                }
            }
        });
    });

    $("#modalFormPayment").submit(function (e) {

        e.preventDefault();

        var form = $(this);
        var url = form.attr('action');
        var array = form.serializeArray();
        var id = array[0].value;
        $.ajax({
            type: "POST",
            url: url,
            data: form.serialize(),
            success: function (data) {
                if (data.length > 0) {


                    $('#owner').removeClass('is-invalid');
                    $('#cvv').removeClass('is-invalid');
                    $('#expireddate').removeClass('is-invalid');
                    $('#cardnumber').removeClass('is-invalid');

                    $('#owner').addClass('is-valid');
                    $('#cvv').addClass('is-valid');
                    $('#expireddate').addClass('is-valid');
                    $('#cardnumber').addClass('is-valid');

                    $.each(data, function (index, value) {
                        if (value.param == 'owner') {
                            $('#owner').addClass('is-invalid');
                            $('#invalid-owner').text(value.msg);
                        }
                        if (value.param == 'cvv') {
                            $('#cvv').addClass('is-invalid');
                            $('#invalid-cvv').text(value.msg);
                        }
                        if (value.param == 'expireddate') {
                            $('#expireddate').addClass('is-invalid');
                            $('#invalid-expireddate').text(value.msg);
                        }
                        if (value.param == 'cardnumber') {
                            $('#cardnumber').addClass('is-invalid');
                            $('#invalid-cardnumber').text(value.msg);
                        }                     
                    });
                } else {
                    Swal.fire({
                        title: 'Seguro que quieres completar el pago?',
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Si, pagar!',
                    }).then((result) => {

                        if (result.isConfirmed) {
                            $.ajax('/efectuarPago', {
                                type: 'POST',
                                data: { idViajeGlobal: id_viaje, quantityGlobal: asientosAComprar, subtotalGlobal: subtotal, insumos: encodeURI(JSON.stringify(insumosComprados)) }
                                //data: { idViajeGlobal, quantityGlobal, subtotalGlobal, insumos: encodeURI(JSON.stringify(insumosGlobal)) }
                            })
                            Swal.fire({
                                icon: 'success',
                                title: 'Pago realizado exitosamente!',
                                html: 'Sera redirigido automaticamente a sus viajes a realizar.',
                                timer: 3000,
                                timerProgressBar: true,
                                didOpen: () => {
                                    Swal.showLoading()
                                },
                                willClose: () => {
                                    window.location.replace('/chofer/arealizar')
                                }
                            })
                            $("#owner").removeClass("is-invalid is-valid");
                            $("#cardnumber").removeClass("is-invalid is-valid");
                            $("#cvv").removeClass("is-invalid is-valid");
                            $("#expireddate").removeClass("is-invalid is-valid");

                            $('#modalEditarPlan').modal('toggle');
                        }
                    })
                }
            }
        })
    });

    function confirmAndPay() {
        $('#modalPayment').modal('show');
    }
</script>