<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<div class="container emp-profile">

    <div class="row">

        <div class="col-md-4">

            <div class="profile-img">

                <br>
                <br>
                <img src="/images/perfil.jpg" />
                <br>
                <br>
                <button id="buttonUpload" type="button" class="btn btn-primary" data-toggle="modal"
                    data-target="#uploadModal">
                    Subir archivo
                </button>
                <br>
                <br>
            </div>

        </div>

        <div class="col-md-6">
            <div class="profile-head">
                <h5>
                    <strong>{{username}}</strong>
                </h5>

                <h6>
                    Combi-19
                </h6>
                <br>
                <hr>
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <h4 class="nav-link active" id="home-tab" data-toggle="tab" href="#" role="tab"
                            aria-controls="home" aria-selected="true">Acerca de</h4>
                    </li>

                    {{!-- <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#perfil" role="tab"
                            aria-controls="profile" aria-selected="false">Timeline</a>
                    </li> --}}
                </ul>
            </div>
        </div>




        {{!-- ---------------------------------------------------------------------------------------------------BOTON
        EDITAR------------------------------------------------------------------------------------- --}}
        <div class="col-md-2">
            <input type="button" class="profile-edit-btn" name="btnAddMore" value="Editar perfil" id="button_edit" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="profile-work">
                <h3>LINKS</h3>
                <ul>
                    <li> <img src="/images/home.png"> <a href="/">Inicio</a></li>
                    <li> <img src="/images/portapapeles.png"> <a href="/user/tickets">Listar pasajes</a></li>
                    <li> <img src="/images/help.png" /><a href="#">Ayuda</a></li>
                    <li>
                        <img src="/images/cerrarsesion.png" /><a href="/logout">Cerrar sesion</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-8">
            <div class="tab-content profile-tab" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

                    <div class="row">
                        <div class="col-md-6">
                            <label>Nombre de usuario</label>
                        </div>
                        <div class="col-md-6">
                            <p id="username">{{user.username}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Nombre</label>
                        </div>
                        <div class="col-md-6">
                            <p id="name">{{user.name}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Apellido</label>
                        </div>
                        <div class="col-md-6">
                            <p id="lastname">{{user.lastname}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Email</label>
                        </div>
                        <div class="col-md-6">
                            <p id="mail">{{user.email}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Fecha de nacimiento</label>
                        </div>
                        <div class="col-md-6">
                            <p id="fechanacimiento">{{user.birthdate}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Plan</label>
                        </div>
                        <div class="col-md-6">
                            <p id="plann">{{user.plan}}</p>
                            <a href="#" id="editarplan"><img src="/images/editar.png" /></a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Contraseña</label>
                        </div>
                        <div class="col-md-6">
                            <p id="password">*********</p>
                            <a href="#" id="editarcontraseña"><img src="/images/editar.png" /></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- MODAL SUBIR FOTO-->
<div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Elegir foto</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="file-loading">
                    <input id="input-b9" name="input-b9[]" type="file">
                </div>
                <div id="kartik-file-errors"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" title="Your custom upload logic">Guardar</button>
            </div>
        </div>
    </div>
</div>


{{!-- MODAL DATOS NORMALES--}}
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cancelar"></button>
            </div>
            <div class="modal-body">
                <form id="modalForm" action="/profile/editarPerfil" method="POST">
                    <div class="mb-3">
                        <input type="number" id="recipient-id" name="id" value={{user.id_usuario}} hidden>

                        <label for="nombredeusuario" class="col-form-label">Nombre de Usuario:</label>
                        <input type="text" class="form-control" id="nombredeusuario" name="nombredeusuario"
                            autocomplete='off'>
                        <div class="invalid-feedback">
                            <p id="invalid-username"></p>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="apellido" class="col-form-label">Apellido:</label>
                        <input type="text" class="form-control" id="apellido" name="apellido" autocomplete='off'>
                        <div class="invalid-feedback">
                            <p id="invalid-lastname"></p>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="nombre" class="col-form-label">Nombre:</label>
                        <input type="text" class="form-control" id="nombre" name="nombre" autocomplete='off'>
                        <div class="invalid-feedback">
                            <p id="invalid-name"></p>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="col-form-label">Email:</label>
                        <input type="email" class="form-control" id="email" name="email" autocomplete='off'>
                        <div class="invalid-feedback">
                            <p id="invalid-email"></p>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="fechadenacimiento" class="col-form-label">Fecha de nacimiento:</label>
                        <input type="date" class="form-control" id="fechadenacimiento" name="fechadenacimiento"
                            autocomplete='off'>
                        <div class="invalid-feedback">
                            <p id="invalid-birthdate"></p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-success" id="guardarButton">Guardar</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

{{!-- --------------------------MODAL CONTRASEÑA ----------------------- --}}

<div class="modal fade" id="editPasswordModal" tabindex="-1" aria-labelledby="editPasswordModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cancelar"></button>
            </div>
            <div class="modal-body">
                <form id="modalFormContraseña" action="/profile/editarContrasena" method="PUT">
                    <div class="mb-3">
                        <input type="number" id="recipient-id" name="id" value={{user.id_usuario}} hidden>
                        <label for="contraseñavieja" class="col-form-label">Contraseña anterior:</label>
                        <input type="password" class="form-control" id="contraseñavieja" name="contraseñavieja"
                            autocomplete='off'>
                        <div class="invalid-feedback">
                            <p id="invalid-password"></p>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="contraseñanueva" class="col-form-label">Contraseña nueva:</label>
                        <input type="password" class="form-control" id="contraseñanueva" name="contraseñanueva"
                            autocomplete='off'>
                        <div class="invalid-feedback">
                            <p id="invalid-newpassword"></p>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="confirmarcontraseña" class="col-form-label">Confirmar contraseña nueva:</label>
                        <input type="password" class="form-control" id="confirmarcontraseña" name="confirmarcontraseña"
                            autocomplete='off'>
                        <div class="invalid-feedback">
                            <p id="invalid-confirmpassword"></p>
                        </div>
                    </div>
                    {{!-- <div class="mb-3">
                        <small>
                            <input type="checkbox" id="ver" class="ver" onChange="hideOrShowPassword()">
                            <label class="text">Mostrar contraseñas</label>
                        </small>
                    </div> --}}
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-success" id="guardarPasswordButton">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{{!-- ..............MODAL EDITAR PLAN.................. --}}
<div class="modal fade" id="modalEditarPlan" tabindex="-1" aria-labelledby="modalEditarPlanLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cancelar"></button>
            </div>
            <div class="modal-body">
                <form id="modalForm" action="#" method="POST">
                    <div class="mb-3">
                        <input type="number" id="recipient-id" name="id" hidden>
                        <div class="mb-3">
                            <h5 id="tituloPlan"></h5>
                            <p id="textoPlan"></p>
                        </div>
                        <div class="mb-3">
                            <button type="button" class="btn btn-secondary" id="cambiarPlan" name="cambiarPlan">Cambie
                                ahora</button>
                        </div>
                        {{!-- <div class="mb-3">
                            <label for="plan" class="form-label">Plan:</label>
                            <select class="form-select" id="plan" name="plan">
                                <option value="basico" {{selectedIfEqual userInfo.plan 'basico' }}>Basico</option>
                                <option value="gold" {{selectedIfEqual userInfo.plan 'gold' }}>Gold</option>
                            </select>
                        </div> --}}

                        <div class="container mb-3">
                            <div class="card" id="card-inputs" hidden>
                                <h5 class="card-header bg-dark">Datos de la tarjeta</h5>
                                <div class="card-body bg-secondary">
                                    <label for="owner" class="form-label">Nombre y apellido del titular</label>
                                    <input type="text" class="form-control mb-3" id="owner" name="owner"
                                        autocomplete='off'>

                                    <label for="cardnumber" class="form-label">Numero de tarjeta</label>
                                    <input type="text" placeholder="xxxx xxxx xxxx xxxx" class="form-control mb-3"
                                        id="cardnumber" name="cardnumber" autocomplete='off'>

                                    <label for="cvv" class="form-label">Codigo de seguridad</label>
                                    <input type="text" placeholder="xxx" class="form-control mb-3" id="cvv" name="cvv"
                                        autocomplete='off'>

                                    <label for="expireddate" class="form-label">Fecha de vencimiento</label>
                                    <input type="text" placeholder="--/--" class="form-control mb-3" id="expireddate"
                                        name="expireddate" autocomplete='off'>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary"
                                            data-bs-dismiss="modal">Cancelar</button>
                                        <button type="submit" class="btn btn-success"
                                            id="guardarButton">Guardar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<script>
    //FOCUSOUT NORMAL ................................................................................................
    $('#nombredeusuario').focusout(function () {
        const nombreDeUsuarioElement = $('#nombredeusuario');
        const idElement = $('#recipient-id');
        if (nombreDeUsuarioElement.val() == null || nombreDeUsuarioElement.val() == "") {
            $('#invalid-username').text('Este campo no puede estar vacio!');
            nombreDeUsuarioElement.addClass('is-invalid');
        } else {
            const nombreDeUsuarioValue = nombreDeUsuarioElement.val();
            const idValue = idElement.val();
            $.ajax('/profile/editarPerfil/username', {
                type: 'POST',
                data: { nombreDeUsuarioValue, idValue },
                success: function (res) {
                    if (res) {
                        nombreDeUsuarioElement.removeClass('is-invalid');
                        nombreDeUsuarioElement.addClass('is-valid');
                    } else {
                        $('#invalid-username').text('Lo siento, ya existe un Nombre de Usuario asi!');
                        nombreDeUsuarioElement.addClass('is-invalid');
                    }
                }
            });
        };
    });

    $('#apellido').focusout(function () {
        const apellidoElement = $('#apellido');
        if (apellidoElement.val() == null || apellidoElement.val() == "") {
            $('#invalid-lastname').text('Este campo no puede estar vacio!');
            apellidoElement.addClass('is-invalid');
        } else {
            apellidoElement.removeClass('is-invalid');
            apellidoElement.addClass('is-valid');
        };
    });
    $('#nombre').focusout(function () {
        const nombreElement = $('#nombre');
        if (nombreElement.val() == null || nombreElement.val() == "") {
            $('#invalid-name').text('Este campo no puede estar vacio!');
            nombreElement.addClass('is-invalid');
        } else {
            nombreElement.removeClass('is-invalid');
            nombreElement.addClass('is-valid');
        };
    });

    $('#email').focusout(function () {
        const emailElement = $('#email');
        const idElement = $('#recipient-id');
        if (emailElement.val() == null || emailElement.val() == "") {
            $('#invalid-email').text('Este campo no puede estar vacio!');
            emailElement.addClass('is-invalid');
        } else {
            const emailValue = emailElement.val();
            const idValue = idElement.val();
            $.ajax('/profile/editarPerfil/email', {
                type: 'POST',
                data: { emailValue, idValue },
                success: function (res) {
                    if (res) {
                        emailElement.removeClass('is-invalid');
                        emailElement.addClass('is-valid');
                    } else {
                        $('#invalid-email').text('Lo siento, ya existe un Email asi!');
                        emailElement.addClass('is-invalid');
                    }
                }
            });
        };
    });

    $('#fechadenacimiento').focusout(function () {
        const fechadenacimientoElement = $('#fechadenacimiento');
        const idElement = $('#recipient-id');
        if (fechadenacimientoElement.val() == null || fechadenacimientoElement.val() == "") {
            $('#invalid-birthdate').text('Este campo no puede estar vacio!');
            fechadenacimientoElement.addClass('is-invalid');
        } else {
            const fechadenacimientoValue = fechadenacimientoElement.val();
            const idValue = idElement.val();
            $.ajax('/profile/editarPerfil/birthdate', {
                type: 'POST',
                data: { fechadenacimientoValue, idValue },
                success: function (res) {
                    if (res) {
                        fechadenacimientoElement.removeClass('is-invalid');
                        fechadenacimientoElement.addClass('is-valid');
                    } else {
                        $('#invalid-birthdate').text('Lo siento, debe ser mayor a 18 años!');
                        fechadenacimientoElement.addClass('is-invalid');
                    }
                }
            });
        };
    });
    // FIN FOCUSOUT NORMAL...................................................................................

    // AJAX DE VALIDACION PARA DATOS NORMALES...................................................................................
    $("#modalForm").submit(function (e) {

        e.preventDefault();

        var form = $(this);
        var url = form.attr('action');
        var array = form.serializeArray();
        var id = array[0].value;
        $.ajax({
            type: "POST",
            url: url,
            data: form.serialize(),
            success: function (data) {
                if (data.length > 0) {
                    $('#nombredeusuario').addClass('is-valid');
                    $('#nombre').addClass('is-valid');
                    $('#apellido').addClass('is-valid');
                    $('#email').addClass('is-valid');
                    $('#fechanacimiento').addClass('is-valid');
                    $.each(data, function (index, value) {

                        if (value.param == 'nombredeusuario') {
                            $('#nombredeusuario').addClass('is-invalid');
                            $('#invalid-username').text(value.msg);
                        }
                        if (value.param == 'apellido') {
                            $('#apellido').addClass('is-invalid');
                            $('#invalid-lastname').text(value.msg);
                        }
                        if (value.param == 'nombre') {
                            $('#nombre').addClass('is-invalid');
                            $('#invalid-name').text(value.msg);
                        }
                        if (value.param == 'email') {
                            $('#email').addClass('is-invalid');
                            $('#invalid-email').text(value.msg);
                        }
                        if (value.param == 'fechadenacimiento') {
                            $('#fechadenacimiento').addClass('is-invalid');
                            $('#invalid-birthdate').text(value.msg);
                        }
                    });
                } else {
                    Swal.fire(
                        'Actualizado!',
                        'Se ha editado el perfil exitosamente!',
                        'success',
                    )

                    $("#nombredeusuario").removeClass("is-invalid is-valid");
                    $("#apellido").removeClass("is-invalid is-valid");
                    $("#nombre").removeClass("is-invalid is-valid");
                    $("#email").removeClass("is-invalid is-valid");
                    $("#fechadenacimiento").removeClass("is-invalid is-valid");
                    $('#exampleModal').modal('toggle');

                    $("#username").text(array[1].value);
                    $("#lastname").text(array[2].value);
                    $("#name").text(array[3].value);
                    $("#mail").text(array[4].value);
                    $("#fechanacimiento").text(array[5].value);
                }
            }
        })
    });
    // FIN AJAX VALIDACIONES NORMALES...................................................................................


    //FOCUSOUT CONTRASEÑA...............................................................................................
    $('#contraseñavieja').focusout(function () {
        const contraseñaElement = $('#contraseñavieja');
        const idElement = $('#recipient-id');
        if (contraseñaElement.val() == null || contraseñaElement.val() == "") {
            $('#invalid-password').text('Este campo no puede estar vacio!');
            contraseñaElement.addClass('is-invalid');
        } else {
            const contraseñaValue = contraseñaElement.val();
            const idValue = idElement.val();
            $.ajax('/profile/editarContrasena/contrasenavieja', {
                type: 'POST',
                data: { contraseñaValue, idValue },
                success: function (res) {
                    if (res) {
                        contraseñaElement.removeClass('is-invalid');
                        contraseñaElement.addClass('is-valid');
                    } else {
                        $('#invalid-password').text('Lo siento, la Contraseña no coincide con la anterior!');
                        contraseñaElement.addClass('is-invalid');
                    }
                }
            });
        };
    });

    $('#contraseñanueva').focusout(function () {
        const contraseñanuevaElement = $('#contraseñanueva');
        if (contraseñanuevaElement.val() == null || contraseñanuevaElement.val() == "") {
            $('#invalid-newpassword').text('Este campo no puede estar vacio!');
            contraseñanuevaElement.addClass('is-invalid');
        } else {
            if (contraseñanuevaElement.val().length < 7) {
                $('#invalid-newpassword').text('El minimo de caracteres es 7!');
                contraseñanuevaElement.addClass('is-invalid');
            }
            else {
                contraseñanuevaElement.removeClass('is-invalid');
                contraseñanuevaElement.addClass('is-valid');
            }
        };
    })


    $('#confirmarcontraseña').focusout(function () {
        const confirmarcontraseñaElement = $('#confirmarcontraseña');
        const contraseñanuevaElement = $('#contraseñanueva');
        if (confirmarcontraseñaElement.val() == null || confirmarcontraseñaElement.val() == "") {
            $('#invalid-confirmpassword').text('Este campo no puede estar vacio!');
            confirmarcontraseñaElement.addClass('is-invalid');
        } else {
            const confirmarcontraseñaValue = confirmarcontraseñaElement.val();
            const contraseñanuevaValue = contraseñanuevaElement.val();
            $.ajax('/profile/editarContrasena/confirmarcontrasena', {
                type: 'POST',
                data: { confirmarcontraseñaValue, contraseñanuevaValue },
                success: function (res) {
                    if (res) {
                        confirmarcontraseñaElement.removeClass('is-invalid');
                        confirmarcontraseñaElement.addClass('is-valid');
                    } else {
                        $('#invalid-confirmpassword').text('Lo siento, la Contraseña no coincide con la anterior!');
                        confirmarcontraseñaElement.addClass('is-invalid');
                    }
                }
            });
        };
    });



    //AJAX VALIDACIONES CONTRASEÑA......................................................................................

    $("#modalFormContraseña").submit(function (e) {

        e.preventDefault();

        var form = $(this);
        var url = form.attr('action');
        var array = form.serializeArray();
        var id = array[0].value;
        $.ajax({
            type: "PUT",
            url: url,
            data: form.serialize(),
            success: function (data) {
                if (data.length > 0) {
                    $('#contraseñavieja').addClass('is-valid');
                    $('#contraseñanueva').addClass('is-valid');
                    $('#confirmarcontraseña').addClass('is-valid');
                    $.each(data, function (index, value) {
                        if (value.param == 'contraseñavieja') {
                            $('#contraseñavieja').addClass('is-invalid');
                            $('#invalid-password').text(value.msg);
                        }
                        if (value.param == 'contraseñanueva') {
                            $('#contraseñanueva').addClass('is-invalid');
                            $('#invalid-newpassword').text(value.msg);
                        }
                        if (value.param == 'confirmarcontraseña') {
                            $('#confirmarcontraseña').addClass('is-invalid');
                            $('#invalid-confirmpassword').text(value.msg);
                        }
                    });
                } else {
                    Swal.fire(
                        'Actualizado!',
                        'Se ha editado el perfil exitosamente!',
                        'success',
                    )

                    $("#contraseñavieja").removeClass("is-invalid is-valid");
                    $("#contraseñanueva").removeClass("is-invalid is-valid");
                    $("#confirmarcontraseña").removeClass("is-invalid is-valid");
                    $('#editPasswordModal').modal('toggle');

                    //Aca no debe actualizarse nada dado que no tiene que mostrase la contraseña
                }
            }
        })
    });




    //BOTON DE EDITAR PLAN ...................................................................................
    $(document).on("click", '#editarplan', function () {
        const aux = $('#plann').text();
        if (aux == 'basico') {
            $('#tituloPlan').text('Tu plan es Basico.');
            $('#textoPlan').text('Cambie a Gold para mas beneficios.');
        } else {
            $('#tituloPlan').text('Tu plan es Gold.');
            $('#textoPlan').text('Con el obtienes descuentos en tus pasajes.');

        }
        $('#modalEditarPlanLabel').text('Editar Plan');
        $('#modalEditarPlan').modal('show');
    });

    //BOTON DE CAMBIAR DE PLAN...................................................................................
    $(document).on("click", '#cambiarPlan', function () {
        const aux = $('#plann').text();
        if (aux == 'basico') {
            const divinputs = document.getElementById('card-inputs');
            if (divinputs.hidden == false) {
                divinputs.hidden = true;
            } else {
                divinputs.hidden = false;
            }
        } else {
            Swal.fire({
                title: 'Seguro que quieres cambiarte a Plan Basico?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Si, Cambiar!'
            })//.then((result) => {
            //  if (result.isConfirmed) {

            //  }


            //}
        }
    });


    //BOTON DE EDITAR CONTRASEÑA...................................................................................
    $(document).on("click", '#editarcontraseña', function () {
        $('#editPasswordModalLabel').text('Editar contraseña');

        $("#contraseñavieja").removeClass("is-invalid is-valid");
        $("#contraseñanueva").removeClass("is-invalid is-valid");
        $("#confirmarcontraseña").removeClass("is-invalid is-valid");

        $('#editPasswordModal').modal('show');
    });

    $(document).on("click", "#guardarPasswordButton", function () {
        const id = $('#recipient-id').val();
        const contraseñavieja = $("#contraseñavieja").val()
        const contraseñanueva = $("#contraseñanueva").val()
        const confirmarcontraseña = $("#confirmarcontraseña").val()
        $.ajax('/profile/editarContrasena', {
            type: 'PUT',
            data: { id, contraseñavieja, contraseñanueva, confirmarcontraseña },
            success: function (res) {
                if (res.length == 0) {
                    Swal.fire({
                        title: 'Seguro que quieres cambiar la contraseña?',
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Si, Cambiar!'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            $.ajax('/profile/editPassword', {
                                type: 'PUT',
                                data: { id, contraseñanueva },
                                success: function () {
                                    Swal.fire(
                                        'Contraseña modificada!',
                                        'La contraseña ha sido modificado exitosamente!',
                                        'success'
                                    )
                                }
                            })
                        }
                    })
                }
            },
            error: function (data) {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Algo salio mal!'
                })
            }
        });
    })

    //BOTON DE EDITAR NORMAL...................................................................................
    $(document).on("click", '#button_edit', function () {
        var nombre = $('#name').text();
        var username = $('#username').text();
        var lastname = $('#lastname').text();
        var email = $('#mail').text();
        var birthdate = $('#fechanacimiento').text();
        //var id = $(this).data('id_lugar');
        $('#exampleModalLabel').text('Editar datos');
        $("#nombre").val(nombre);
        $("#nombredeusuario").val(username);
        $("#apellido").val(lastname);
        $("#email").val(email);
        $("#fechadenacimiento").val(birthdate);

        $("#nombredeusuario").removeClass("is-invalid is-valid");
        $("#apellido").removeClass("is-invalid is-valid");
        $("#nombre").removeClass("is-invalid is-valid");
        $("#email").removeClass("is-invalid is-valid");
        $("#fechadenacimiento").removeClass("is-invalid is-valid");

        $('#exampleModal').modal('show');


    });

    //MOSTRAR CONTRASEÑAS...................................................................................
    //function hideOrShowPassword() {
    //const password1 = document.getElementById("contraseña");
    //const password2 = document.getElementById("recipient-confirmpassword")
    //const check = document.getElementById("ver");

    //if (check.checked == true) // Si la checkbox de mostrar contraseña está activada
    //{
    //    password1.type = "text";
    //password2.type = "text";
    //} else // Si no está activada 
    //{
    //   password1.type = "password";
    //password2.type = "password";
    //}
    //}
    //FUNCTION PARA UPLOAD FILE...................................................................................
    $(document).ready(function () {
        $("#input-b9").fileinput({
            showPreview: false,
            showUpload: false,
            elErrorContainer: '#kartik-file-errors',
            allowedFileExtensions: ["jpg", "png", "gif"]
            //uploadUrl: '/site/file-upload-single'
        });
    });

</script>